<a href="https://colab.research.google.com/github/acapodanno/data_processing/blob/main/es_module_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Es. Data Processing**

1. Verificare il numero di righe e colonne del dataset
2. Verificare la tipologia di ogni variabile e la distribuzione
3. Verificare il numero di valori mancanti per ogni  colonna
4. Rimuovere eventualmente le colonne con oltre il 30% di valori mancanti
5. Rimuovere eventualmente le righe con oltre il 25% di valori mancanti
6. Rimuovere tutte le righe dove PRICE Ã© mancante OneHotEncodifng
7. Esegui l'imputazione con valore medio per i restanti valori mancanti
8. Esegui la codifica di eventuali variabili qualitative
9. Esegui l'imputazione con moda per i restanti valori mancanti qualitativi
10. Esegui la standardidazione
11. Salva il nuovo dataframe in un tsv chiamto housing_clean.tsv

In [95]:
import pandas as pd

url="https://raw.githubusercontent.com/ProfAI/machine-learning-fondamenti/main/datasets/housing_dirty.csv"
df = pd.read_csv(url,index_col=0)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0.0,LOW,18.0,2.31,NO,538.0,6575.0,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1.0,LOW,0.0,7.07,NO,469.0,6421.0,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2.0,LOW,0.0,7.07,NO,469.0,7185.0,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3.0,LOW,0.0,2.18,NO,458.0,6998.0,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4.0,LOW,0.0,2.18,NO,458.0,7147.0,54.2,6.0622,3.0,222.0,18.7,396.90,NaN,36.2

** Punto 1.

In [96]:
df.shape

(506, 14)

**Punto 2.**
- tipologia info()
- distribuzione describe()

Questo vale per le varibile continue

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 506 entries, 0.0 to 505.0
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    object
 1   ZN       504 non-null    float64
 2   INDUS    503 non-null    float64
 3   CHAS     506 non-null    object
 4   NOX      499 non-null    float64
 5   RM       501 non-null    float64
 6   AGE      502 non-null    float64
 7   DIS      501 non-null    float64
 8   RAD      503 non-null    float64
 9   TAX      504 non-null    float64
 10  PTRATIO  501 non-null    float64
 11  B        503 non-null    float64
 12  LSTAT    307 non-null    float64
 13  PRICE    502 non-null    float64
dtypes: float64(12), object(2)
memory usage: 59.3+ KB

In [98]:
df.describe()

,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
count,504.000000,503.000000,499.000000,501.000000,502.000000,501.000000,503.000000,504.000000,501.000000,503.000000,307.000000,502.000000
mean,11.359127,11.165169,464.341474,5635.118064,68.514741,380.588031,9.574553,408.380952,18.463673,356.732127,12.360521,22.479482
std,23.355367,6.870201,223.653453,2007.343355,28.180007,1273.597641,8.725901,168.806575,2.151734,91.405284,7.307171,9.159295
min,0.000000,0.460000,0.400000,4.880000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.000000,5.190000,428.000000,5757.000000,45.025000,2.118500,4.000000,279.000000,17.400000,375.425000,6.545000,16.850000
50%,0.000000,9.690000,504.000000,6129.000000,77.500000,3.495200,5.000000,330.000000,19.100000,391.430000,10.590000,21.200000
75%,12.500000,18.100000,605.000000,6545.000000,93.975000,6.062200,24.000000,666.000000,20.200000,396.220000,17.025000,25.000000
max,100.000000,27.740000,871.000000,8725.000000,100.000000,8344.000000,24.000000,711.000000,22.000000,396.900000,36.980000,50.000000

**varibili categoriche**

Esempio: stringhe
- df[column].value_counts()

**Punto 3.**

In [99]:
df.isna().sum()

CRIM         0
ZN           2
INDUS        3
CHAS         0
NOX          7
RM           5
AGE          4
DIS          5
RAD          3
TAX          2
PTRATIO      5
B            3
LSTAT      199
PRICE        4
dtype: int64

** Punto 4.**

In [100]:
df_drop_columns = df.copy()
num_to_remove_column = int(df_drop_columns.shape[0]*0.7)
df_drop_columns.dropna(axis=1,thresh=num_to_remove_column)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,PRICE
0.0,LOW,18.0,2.31,NO,538.0,6575.00,65.2,4.0900,1.0,296.0,15.3,396.90,24.0
1.0,LOW,0.0,7.07,NO,469.0,6421.00,78.9,4.9671,2.0,242.0,17.8,396.90,21.6
2.0,LOW,0.0,7.07,NO,469.0,7185.00,61.1,4.9671,2.0,242.0,17.8,392.83,34.7
3.0,LOW,0.0,2.18,NO,458.0,6998.00,45.8,6.0622,3.0,222.0,18.7,394.63,33.4
4.0,LOW,0.0,2.18,NO,458.0,7147.00,54.2,6.0622,3.0,222.0,18.7,396.90,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501.0,LOW,0.0,11.93,NO,573.0,6593.00,69.1,2.4786,1.0,273.0,21.0,391.99,22.4
502.0,LOW,0.0,11.93,NO,573.0,6.12,76.7,2.2875,1.0,273.0,21.0,396.90,20.6
503.0,LOW,0.0,11.93,NO,573.0,6976.00,91.0,2.1675,1.0,273.0,21.0,396.90,23.9
504.0,MODERATE,0.0,11.93,NO,573.0,6794.00,89.3,2.3889,1.0,273.0,21.0,393.45,22.0
505.0,LOW,0.0,11.93,NO,573.0,6.03,80.8,2505.0000,1.0,273.0,21.0,396.90,11.9

**Punto 5.**

In [101]:
df_drop_rows = df.copy()
num_to_remove_row = int(df_drop_rows.shape[1]*0.75)
df_drop_rows.dropna(axis=0,thresh=num_to_remove_row)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0.0,LOW,18.0,2.31,NO,538.0,6575.00,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1.0,LOW,0.0,7.07,NO,469.0,6421.00,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2.0,LOW,0.0,7.07,NO,469.0,7185.00,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3.0,LOW,0.0,2.18,NO,458.0,6998.00,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4.0,LOW,0.0,2.18,NO,458.0,7147.00,54.2,6.0622,3.0,222.0,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501.0,LOW,0.0,11.93,NO,573.0,6593.00,69.1,2.4786,1.0,273.0,21.0,391.99,NaN,22.4
502.0,LOW,0.0,11.93,NO,573.0,6.12,76.7,2.2875,1.0,273.0,21.0,396.90,NaN,20.6
503.0,LOW,0.0,11.93,NO,573.0,6976.00,91.0,2.1675,1.0,273.0,21.0,396.90,NaN,23.9
504.0,MODERATE,0.0,11.93,NO,573.0,6794.00,89.3,2.3889,1.0,273.0,21.0,393.45,NaN,22.0
505.0,LOW,0.0,11.93,NO,573.0,6.03,80.8,2505.0000,1.0,273.0,21.0,396.90,NaN,11.9

** Punto 6.**

In [102]:
df_drop_column_price = df.copy()
df_drop_column_price.dropna(axis=0,subset=['PRICE'])
df_drop_column_price.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0.0,LOW,18.0,2.31,NO,538.0,6575.0,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1.0,LOW,0.0,7.07,NO,469.0,6421.0,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2.0,LOW,0.0,7.07,NO,469.0,7185.0,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3.0,LOW,0.0,2.18,NO,458.0,6998.0,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4.0,LOW,0.0,2.18,NO,458.0,7147.0,54.2,6.0622,3.0,222.0,18.7,396.90,NaN,36.2

In [103]:
df_drop_column_price.shape

(506, 14)

**Punto 7**

In [104]:
cols = df.columns
cols = cols.drop(["CRIM","CHAS"])
cols

Index(['ZN', 'INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B',
       'LSTAT', 'PRICE'],
      dtype='object')

In [105]:
replace_with = df[cols].mean()
df = df.fillna(replace_with)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0.0,LOW,18.0,2.31,NO,538.0,6575.0,65.2,4.0900,1.0,296.0,15.3,396.90,4.980000,24.0
1.0,LOW,0.0,7.07,NO,469.0,6421.0,78.9,4.9671,2.0,242.0,17.8,396.90,9.140000,21.6
2.0,LOW,0.0,7.07,NO,469.0,7185.0,61.1,4.9671,2.0,242.0,17.8,392.83,4.030000,34.7
3.0,LOW,0.0,2.18,NO,458.0,6998.0,45.8,6.0622,3.0,222.0,18.7,394.63,2.940000,33.4
4.0,LOW,0.0,2.18,NO,458.0,7147.0,54.2,6.0622,3.0,222.0,18.7,396.90,12.360521,36.2

**Punto 8**

In [106]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)

In [107]:
from sklearn.preprocessing import LabelEncoder
df_label_encoder = df.copy()
le = LabelEncoder()
df_label_encoder["CHAS"] = le.fit_transform(df_label_encoder["CHAS"])
df_label_encoder.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0.0,LOW,18.0,2.31,0,538.0,6575.0,65.2,4.0900,1.0,296.0,15.3,396.90,4.980000,24.0
1.0,LOW,0.0,7.07,0,469.0,6421.0,78.9,4.9671,2.0,242.0,17.8,396.90,9.140000,21.6
2.0,LOW,0.0,7.07,0,469.0,7185.0,61.1,4.9671,2.0,242.0,17.8,392.83,4.030000,34.7
3.0,LOW,0.0,2.18,0,458.0,6998.0,45.8,6.0622,3.0,222.0,18.7,394.63,2.940000,33.4
4.0,LOW,0.0,2.18,0,458.0,7147.0,54.2,6.0622,3.0,222.0,18.7,396.90,12.360521,36.2

In [108]:
df_ordinal_encoder = df.copy()
size_mapping = {"LOW":1,"MODERATE":2,"HIGH":3,"VERY HIGH":4}
df_ordinal_encoder["CRIM"] = df_ordinal_encoder["CRIM"].map(size_mapping)
df_ordinal_encoder.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0.0,1,18.0,2.31,NO,538.0,6575.0,65.2,4.0900,1.0,296.0,15.3,396.90,4.980000,24.0
1.0,1,0.0,7.07,NO,469.0,6421.0,78.9,4.9671,2.0,242.0,17.8,396.90,9.140000,21.6
2.0,1,0.0,7.07,NO,469.0,7185.0,61.1,4.9671,2.0,242.0,17.8,392.83,4.030000,34.7
3.0,1,0.0,2.18,NO,458.0,6998.0,45.8,6.0622,3.0,222.0,18.7,394.63,2.940000,33.4
4.0,1,0.0,2.18,NO,458.0,7147.0,54.2,6.0622,3.0,222.0,18.7,396.90,12.360521,36.2

**Punto 9**

In [109]:
df = pd.get_dummies(df,columns=["CRIM"])
df.head()

,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE,CRIM_HIGH,CRIM_LOW,CRIM_MODERATE,CRIM_VERY HIGH
0.0,18.0,2.31,NO,538.0,6575.0,65.2,4.0900,1.0,296.0,15.3,396.90,4.980000,24.0,False,True,False,False
1.0,0.0,7.07,NO,469.0,6421.0,78.9,4.9671,2.0,242.0,17.8,396.90,9.140000,21.6,False,True,False,False
2.0,0.0,7.07,NO,469.0,7185.0,61.1,4.9671,2.0,242.0,17.8,392.83,4.030000,34.7,False,True,False,False
3.0,0.0,2.18,NO,458.0,6998.0,45.8,6.0622,3.0,222.0,18.7,394.63,2.940000,33.4,False,True,False,False
4.0,0.0,2.18,NO,458.0,7147.0,54.2,6.0622,3.0,222.0,18.7,396.90,12.360521,36.2,False,True,False,False

**Punto 10**

In [110]:
from sklearn.preprocessing import StandardScaler

df_std = df.copy()
features = ["INDUS","LSTAT","RAD","B","PRICE"]
to_std = df_std[features]
scaler = StandardScaler()
df_std[features] = scaler.fit_transform(to_std)
df_std.head()

,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE,CRIM_HIGH,CRIM_LOW,CRIM_MODERATE,CRIM_VERY HIGH
0.0,18.0,-1.294049,NO,538.0,6575.0,65.2,4.0900,-0.986563,296.0,15.3,0.441195,-1.298830,0.166835,False,True,False,False
1.0,0.0,-0.598447,NO,469.0,6421.0,78.9,4.9671,-0.871505,242.0,17.8,0.441195,-0.566750,-0.096499,False,True,False,False
2.0,0.0,-0.598447,NO,469.0,7185.0,61.1,4.9671,-0.871505,242.0,17.8,0.396491,-1.466012,1.340862,False,True,False,False
3.0,0.0,-1.313047,NO,458.0,6998.0,45.8,6.0622,-0.756448,222.0,18.7,0.416262,-1.657831,1.198223,False,True,False,False
4.0,0.0,-1.313047,NO,458.0,7147.0,54.2,6.0622,-0.756448,222.0,18.7,0.441195,0.000000,1.505445,False,True,False,False

**Punto 11**

In [111]:
df_std.to_csv("housing_clean.tsv", sep='\t', encoding='utf-8', index=False, header=True)