<a href="https://colab.research.google.com/github/acapodanno/data_processing/blob/main/feature_scale_stadardization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Standardizzazione
Distribuzione normalizzata media a zero e devazione a 1

**Formula**: xstd = (xi - mean(x))/std(x)

###Pandas

In [8]:
import pandas as pd
url = "https://raw.githubusercontent.com/ProfAI/machine-learning-fondamenti/main/datasets/wine.csv"
wine = pd.read_csv(url, usecols=[0,1,7])
wine.head()

   classe  alcol  flavonoidi
0       1  14.23        3.06
1       1  13.20        2.76
2       1  13.16        3.24
3       1  14.37        3.49
4       1  13.24        2.69

In [9]:
wine_std = wine.copy()
features = ["alcol","flavonoidi"]
to_std= wine_std[features]
wine_std = (to_std - to_std.mean())/to_std.std(ddof=0)
wine_std.head()

      alcol  flavonoidi
0  1.518613    1.034819
1  0.246290    0.733629
2  0.196879    1.215533
3  1.691550    1.466525
4  0.295700    0.663351

### Scikit-learn

In [10]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)

In [11]:
from sklearn.preprocessing import StandardScaler

wine_std = wine.copy()
features = ["alcol","flavonoidi"]
to_std = wine_std[features]
scaler = StandardScaler()
wine_std[features] = scaler.fit_transform(to_std)
wine_std.head()
#

   classe     alcol  flavonoidi
0       1  1.518613    1.034819
1       1  0.246290    0.733629
2       1  0.196879    1.215533
3       1  1.691550    1.466525
4       1  0.295700    0.663351