<a href="https://colab.research.google.com/github/acapodanno/data_processing/blob/main/feature_scale_normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Feature Scaling - Normalizzazione**

Significa transformare le feauture con un valore compresso tra 0 e 1.

**Formula**:
xi = xi - min(x)/ max(x) - min(x)

**Pandas**

In [5]:
import pandas as pd
url = "https://raw.githubusercontent.com/ProfAI/machine-learning-fondamenti/main/datasets/wine.csv"
df = pd.read_csv(url, usecols=[0,1,7])
df.head()

   classe  alcol  flavonoidi
0       1  14.23        3.06
1       1  13.20        2.76
2       1  13.16        3.24
3       1  14.37        3.49
4       1  13.24        2.69

In [6]:
wine_norm = df.copy()
features = ["alcol","flavonoidi"]
to_norm = wine_norm[features]

wine_norm[features] = (to_norm - to_norm.min())/(to_norm.max() - to_norm.min())
wine_norm.head()

   classe     alcol  flavonoidi
0       1  0.842105    0.573840
1       1  0.571053    0.510549
2       1  0.560526    0.611814
3       1  0.878947    0.664557
4       1  0.581579    0.495781

**Verifica Normalizzazione** Per verificare se la normalizzazione Ã¨ corretta prendere il min e max che devono corrispondere a 0 e 1.

In [7]:
wine_norm.min()

classe        1.0
alcol         0.0
flavonoidi    0.0
dtype: float64

In [8]:
wine_norm.max()

classe        3.0
alcol         1.0
flavonoidi    1.0
dtype: float64

**Scikitlern**

In [13]:
!pip install scikit-learn
from sklearn.preprocessing import MinMaxScaler

np = df.drop("classe", axis=1)
scaler = MinMaxScaler()
wine_norm = scaler.fit_transform(np)
wine_norm[:5]

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)

array([[0.84210526, 0.57383966],
       [0.57105263, 0.51054852],
       [0.56052632, 0.61181435],
       [0.87894737, 0.66455696],
       [0.58157895, 0.49578059]])

In [14]:
wine_norm.min()

np.float64(0.0)

In [15]:
wine_norm.max()

np.float64(1.0)