In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/ProfAI/machine-learning-fondamenti/main/datasets/shirts_sold.csv"
df = pd.read_csv(url,index_col=0)
df.head()

  taglia  colore  prezzo venduta
0      S  bianco    4.99      NO
1      M  bianco   19.99      SI
2     XL  bianco   12.49      NO
3     XL  bianco   14.99      NO
4      S  bianco   14.99      SI

In [4]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (2.4.1)
Requirement already satisfied: scipy>=1.10.0 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["venduta"] = le.fit_transform(df["venduta"])
df.head()

  taglia  colore  prezzo  venduta
0      S  bianco    4.99        0
1      M  bianco   19.99        1
2     XL  bianco   12.49        0
3     XL  bianco   14.99        0
4      S  bianco   14.99        1

In [6]:
df["venduta"] = le.inverse_transform(df["venduta"])
df.head()

  taglia  colore  prezzo venduta
0      S  bianco    4.99      NO
1      M  bianco   19.99      SI
2     XL  bianco   12.49      NO
3     XL  bianco   14.99      NO
4      S  bianco   14.99      SI