In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/ProfAI/machine-learning-fondamenti/main/datasets/shirts.csv"
df = pd.read_csv(url,index_col=0)
df.head()

  taglia  colore  prezzo
0      S  bianco    4.99
1      M  bianco   19.99
2     XL  bianco   12.49
3     XL  bianco   14.99
4      S  bianco   14.99

In [4]:
size_mapping = {"S":1,"M":2,"L":3,"XL":4}
df["taglia"] = df["taglia"].map(size_mapping) 
df.head()

   taglia  colore  prezzo
0       1  bianco    4.99
1       2  bianco   19.99
2       4  bianco   12.49
3       4  bianco   14.99
4       1  bianco   14.99